body {
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    font-weight: 400;
    font-style: normal;
}
button {
    border-radius: 20px;
    font-weight: 400;
    font-style: normal
    
}

input{
    border-radius: 20px;
    font-weight: 400;
    font-style: normal
}

h1{
margin: 20px;
}
ul{
    margin: 20px;
}
.completed {
    text-decoration: line-through;
}